In [101]:
import numpy as np
import pandas as pd

In [102]:
credits=pd.read_csv('C:/Users/radhi/OneDrive/Desktop/training/projects/New folder/tmdb_5000_credits.csv')
movies=pd.read_csv('C:/Users/radhi/OneDrive/Desktop/training/projects/New folder/tmdb_5000_movies.csv')

In [103]:
movies.shape

(4803, 20)

In [105]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [106]:
credits.shape

(4803, 4)

In [107]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [108]:
#Merge both dataframes
merged_df= movies.merge(credits,on='title')

In [109]:
merged_df.shape

(4809, 23)

In [ ]:
merged_df.head(1)

In [111]:
#We will keep these columns and drop other
# genres, id, keywords,title, overview, cast, crew
merged_df_new=merged_df[['movie_id','title','overview','genres','keywords','cast','crew']]

In [112]:
merged_df_new.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [113]:
merged_df_new.shape

(4809, 7)

In [114]:
#Missing data-remove
merged_df_new.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [115]:
merged_df_new.dropna(inplace=True)

C:\Users\radhi\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [116]:
merged_df_new.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [14]:
#Check Duplicate values
merged_df_new.duplicated().sum()

In [117]:
#Preprocess the genres data to get only relevant tags from genres
merged_df_new.iloc[0].genres
#Our genres list is in following format.
#{{"id":28, "name":"Action"},{"id":12, "name":"Adventure"}}
#So we need to convert it into following format
#['Action','Adventure']
#Firstly convert string of strings list to int using ast.literal_eval()
#Function for this:

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [118]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [119]:
def convert(obj):
	L=[]
	for i in ast.literal_eval(obj):
		L.append(i['name'])
	return L

In [120]:
merged_df_new['genres']=merged_df_new['genres'].apply(convert)

C:\Users\radhi\AppData\Local\Temp\ipykernel_23284\499638948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_new['genres']=merged_df_new['genres'].apply(convert)

In [121]:
#Similarly for keywords:
merged_df_new['keywords']=merged_df_new['keywords'].apply(convert)

C:\Users\radhi\AppData\Local\Temp\ipykernel_23284\435890606.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_new['keywords']=merged_df_new['keywords'].apply(convert)

In [25]:
#Get names of first 3 actor from cast:
#Function for this:
def convert3(obj):
	L=[]
	counter=0
	for i in ast.literal_eval(obj):
		if counter!=3:
			L.append(i['name'])
			counter+=1
		else:
			break
	return L

In [122]:
merged_df_new['cast']=merged_df_new['cast'].apply(convert3)

C:\Users\radhi\AppData\Local\Temp\ipykernel_23284\1214164377.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_new['cast']=merged_df_new['cast'].apply(convert3)

In [123]:
merged_df_new['overview']=merged_df_new['overview'].apply(lambda x:x.split())

C:\Users\radhi\AppData\Local\Temp\ipykernel_23284\197373453.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_new['overview']=merged_df_new['overview'].apply(lambda x:x.split())

In [124]:
#crew: Get info of director
#Function for this:
import ast
def fetch_director(obj):
	L=[]
	for i in ast.literal_eval(obj):
		if i['job']=='Director':
			L.append(i['name'])
			break
	return L

In [125]:
merged_df_new['crew']=merged_df_new['crew'].apply(fetch_director)

C:\Users\radhi\AppData\Local\Temp\ipykernel_23284\2705399638.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_new['crew']=merged_df_new['crew'].apply(fetch_director)

In [126]:
#Removing space between a word with different parts in single name:
merged_df_new['genres']=merged_df_new['genres'].apply(lambda x:[i.replace(" ","") for i in x])
merged_df_new['cast']=merged_df_new['cast'].apply(lambda x:[i.replace(" ","") for i in x])
merged_df_new['crew']=merged_df_new['crew'].apply(lambda x:[i.replace(" ","") for i in x])

C:\Users\radhi\AppData\Local\Temp\ipykernel_23284\3999531866.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_new['genres']=merged_df_new['genres'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\radhi\AppData\Local\Temp\ipykernel_23284\3999531866.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_new['cast']=merged_df_new['cast'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\radhi\AppData\Local\Temp\ipykernel_23284\3999531866.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_new['crew']=merged_df_new['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [127]:
#Create a tag column that will be combination of overview, genres, keywords, cast, crew.
merged_df_new['tags']=merged_df_new['overview']+ merged_df_new['genres']+ merged_df_new['keywords']+merged_df_new['cast']+ merged_df_new['crew']

C:\Users\radhi\AppData\Local\Temp\ipykernel_23284\1319241123.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_new['tags']=merged_df_new['overview']+ merged_df_new['genres']+ merged_df_new['keywords']+merged_df_new['cast']+ merged_df_new['crew']

In [128]:
#Create a new dataframe:
new_df=merged_df_new[['movie_id','title','tags']]

In [129]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\radhi\AppData\Local\Temp\ipykernel_23284\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [130]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\radhi\AppData\Local\Temp\ipykernel_23284\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [131]:
#Vectorization: Convert text to vectors
#Using bag of words
#Step1:Combine all the words of tags
#Step2:Find 5000 most common words 
#Step3:Count occurrence of these 5000 words in tag1, tag2,...
#Step4:Plot the vectors.
#Discard stopwords:

In [132]:
#Apply stemming:[dancing,dance..]=danc
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [135]:
#function to do stemming
def stem(text):
	y=[]
	for i in text.split():
		y.append(ps.stem(i))
	return " ".join(y)

In [136]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\radhi\AppData\Local\Temp\ipykernel_23284\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [137]:
#DO VECTORIZATION AGAIN.
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultur clash futur space war space coloni societi space travel futurist romanc space alien tribe alien planet cgi marin soldier battl love affair anti war power relat mind and soul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [147]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [139]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [145]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [148]:
#Calculate the distance between each movie(cosine distance).
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)
cosine_similarity(vectors).shape #4806,4806

(4806, 4806)

In [149]:
similarity[0]

array([1.        , 0.07156563, 0.05249442, ..., 0.04845016, 0.        ,
       0.        ])

In [155]:
#Find 5 movies similar to given movie:
def recommend(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distances=similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [157]:
recommend('Avatar')

Aliens
Silent Running
Mission to Mars
Moonraker
AlienÂ³